* {
  padding: 0;
  margin: 0;
  background-color: black;
}

html, body {
  height: 100%;
  font-family: 'Archivo Black', sans-serif;
  color: rgb(43, 43, 43);;
  font-size: 2em;
}

.outerFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 10px;
}

.knob { 
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.canvasOuterContainer {
  background: black;
  border: 1px solid black;
  border-radius: 15px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  width: 380px;
}

/* .canvas {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
  background-color: rgb(43, 43, 43);
  border-radius: 20px;
} */
